<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="home-page">
        <div class="picture-info-section">
            <div class="picture-card">
                <div class="pic-card" style="--translation-y: -25px">
                    <img src="./img/movies/The_fast/Fast_1.jpeg" alt="" class="movie-card-picture">
                </div>
                <div class="pic-card" style="--translation-y: -25px">
                    <img src="./img/movies/The_fast/Fast_2.jpeg" alt="" class="movie-card-picture">
                </div>
                <div class="pic-card" style="--translation-y: -25px">
                    <img src="./img/movies/The_fast/Fast_3.jpeg" alt="" class="movie-card-picture">
                </div>
            </div>
            <div class="next">
                <div class="play"></div>
            </div>
        </div>
        <div class="text-section">
            <h1>Fast & Furious collection</h1>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Incidunt cupiditate 
                aut quae minus. Reiciendis culpa hic, 
                fugit iure ad perferendis, sed deleniti 
                in repudiandae est ipsa quod nostrum cum ab.</p>
        </div>
    </div>
</body>
</html>